@import "tailwindcss";

@theme{
  --color-wblue: #233D4D;
  --color-worange: #FE7F2D;
  --color-wyellow: #FCCA46;
  --color-wolive: #A1C181;
  --color-wsage: #619B8A;
}

body {
  background-color:var(--color-wblue);
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #9caf88 inset;
  -webkit-text-fill-color: white;
}
